<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="icon" href="{{ 'favicon.ico' | absolute_url }}" type="image/x-icon">
    <link href='{{ 'feed.xml' | absolute_url }}' rel='alternate' type='application/atom+xml'>
    <link rel="canonical" href="{{ page.url }}">
    <link rel="stylesheet" href="{{ 'css/style.css' | absolute_url  }}">
	<script>
		window.baseurl = '{{ site.baseurl }}';

        window.lines = [];
        {% for line in site.lines %}
            window.lines.push( {
                source: {{ line.geojson | jsonify}},
                title:  {{ line.title | jsonify}},
                color:  {{ line.color | jsonify}}
            } );
        {% endfor %}
	</script>
	{% seo %}
</head>

<body class="{{ layout.templatebodyclass }}">
