{% assign geojson = '' %}
{% for json_file in site.data.geojson %}
    {% if json_file[0] == page.geojson %}
        {% assign geojson = json_file[1] %}
        {% break %}
    {% endif %}
{% endfor %}
{% assign stops = geojson.features | where: "properties.type", "stop" %}
    
<dl>
    {% for stop in stops %}
        {% assign classes = 'icon-custom js-clickable hastext icon-' | append: stop.properties.icon%}

        {% if stop.properties.stroke and stop.properties.stroke != '' %}
            {% assign color = stop.properties.stroke %}
        {% else if page.color %}
            {% assign color = page.color %}
        {% else %}
            {% assign color = 'blue' %}
        {% endif %}

        <dt 
            id="stops-list-{{ stop.properties.name | slugify }}"
            class="icon-custom icon-{{classes}} js-clickable"
            onclick="zoom_to_feature( '.marker-{{ stop.properties.type }}-{{stop.properties.id}}' );"
        >
            <div class="dt-icon" style="background-color: {{ color }}">
                <span class="stop-id">{{stop.properties.id}}</span>
            </div>
            {{stop.properties.name}}
        </dt>
        <dd>{{stop.properties.description}}</dd>
    {% endfor %}
</dl>
