

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    body{
        background:#191919;filter:invert(1);
        .highlight{border-color: grey !important;}
        img,
        .highlight,
        iframe {
            filter:invert(1);
        }
    }
}