$column-width: 0.55em * (100-12.5);

@mixin line-layout-beside {
    .scroll-container {
        left: -12.5vw;
        @media (max-width: 850px) {
            left: -10px;
        }
        position: relative;
        width: 100vw;

        // thanks to https://grid.layoutit.com/
        display: grid;
        grid-template-columns: 1fr min( 30em, 50vw);
        grid-template-rows: 1fr;
        gap: 1em;
        grid-template-areas: "fixed scrollable";
    }
    .scroll-container__fixed {
        grid-area: fixed;

        #map-container {
            width: 100%;
            height: 100vh;
            position: sticky;
            top: 0;
        }
    }
    .scroll-container__scrollable {
        grid-area: scrollable;
    }

}
@mixin line-layout-over {
    .scroll-container {
        left: -12.5vw;
        @media (max-width: 850px) {
            left: -10px;
        }

        position: relative;
        width: 100vw;

    }
    .scroll-container__fixed {
        position: sticky;
        top: 0;
        z-index: 100;
        border-bottom: 2px solid black;

        #map-container {
            width: 100%;
            height: min( 20em, 50vh );
        }
    }
    .scroll-container__scrollable {
        // margin-top: min( 20em, 50vh );
        padding-left: 10px;
    }
}

/**
* The aspect ratio is not the key concern here
* it's actually about:
* - aspect ratio
* - height and width of the viewport relative to the text column
* - general shape of the layout
*
* but this is sufficient for testing
*/
@media ( min-aspect-ratio: 1 ) {
    @include line-layout-beside;
}
@media ( max-aspect-ratio: 0.9999 ) {
    @include line-layout-over;
}
body.line {
    max-width: unset;
    padding-top: 1rem;

    h2.title,
    main nav a
    {
        margin-top: 0;
        font-size: 1rem;
    }
    
    h1 {
        font-size: 1.5rem;
    }
}

#leaflet-map p {
    max-width: unset;
    width: unset;
}

.line h1 {
    margin-top: 0;
    margin-bottom: 0.5em;
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
}
.leaflet-popup p.title {
    font-weight: bold;
    font-size: 1.2em;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}
#map-container .leaflet-popup-content-wrapper,
#map-container .leaflet-popup-tip {
    border-radius: 0;
    box-shadow: 0 11px 40px rgba(0,0,0,0.5);
}

.icon-custom {
    div {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        font-size: 16px;
        line-height: 100%;
        border-radius: 16px;
        text-align: center;
        border: 1px solid black;
        background-repeat: no-repeat;
        background-position: left center;
    }
}

dt .dt-icon {
    height: 32px;
    width: 32px;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    border-radius: 16px;
}
dt.icon-custom {
    text-decoration: underline;
    font-weight: 700;
    margin-top: 0.2em;
}
dt.hastext ~ dd {
    margin-left: 54px;
}
.leaflet-marker-icon div img.icon {
    max-width: 100% !important;
    max-height: 100% !important;
}
.route-underline-color,
.routes dt {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.route-underline-color a {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: inherit;
}
.js-clickable {
    cursor: pointer;
}

/* icon types */
.icon-custom.icon-safege div,
.icon-custom.icon-apm div,
.icon-custom.icon-tram div {
    border-bottom-right-radius: 0;
    background-size: 90%;
    line-height: 32px;

    dt & {
        width: 32px;
        height: 32px;
        margin-right: 8px;
    }
    .leaflet-marker-icon & {
        width: 100%;
        height: 32px;
    }
}
.icon-custom.icon-safege div {
    background-image: url( '/columbus-regional-rail/icons/safege.svg' );
}
.icon-custom.icon-apm div {
    background-image: url( '/columbus-regional-rail/icons/ICTS.svg' );
}
.icon-custom.icon-tram div {
    background-image: url( '/columbus-regional-rail/icons/BSicon_BRILL.svg.png' );
}

.icon-custom.icon-amtrak div,
.icon-custom.icon-tunnel div,
.icon-custom.icon-yard div,
.icon-custom.icon-bridge div,
.icon-custom.icon-construction div {
    background-size: 90%;
    line-height: 28px;
    dt & {
        width: 28px;
        height: 28px;
        margin-right: 12px;
    }
    .leaflet-marker-icon & {
        width: 100%;
        height: 32px;
    }
}
.icon-custom.icon-construction div {
    border-top-left-radius: 0;
    background-color: orange;
}
.icon-custom.icon-amtrak div {
    background-image: url( '/columbus-regional-rail/icons/amtrak.svg' );
}
.icon-custom.icon-bridge div {
    background-image: url( '/columbus-regional-rail/icons/bridge.svg' );
}
.icon-custom.icon-yard div {
    background-image: url( '/columbus-regional-rail/icons/yard.svg' );
}
.icon-custom.icon-tunnel div {
    background-image: url( '/columbus-regional-rail/icons/tunnel.svg' );
}


.icon-custom.icon-simple div {
    line-height: 10px;
    width: 10px;
    height: 10px;
}

.icon-custom {
    &.hastext .dt-icon,
    &.leaflet-marker-icon.hastext {
        font-family: $font-family-monospace;
        font-size: 12px;
        line-height: 32px;
        width: calc( 24px + 4ch );
    }
    &.hastext {
        div {
            font-size: inherit;
            text-align: left;
            padding-left: 24px;
            background-size: 26px;
            overflow: hidden;
        }
    }
    .stop-id {
        height: 100%;
        background-color: black;
        color: white;
        display: block;
        padding: 0 3px;
        font-variant-numeric: tabular-nums;
        font-weight: normal;
        text-align: left;
        font-family: $font-family-sans;
        font-weight: bold;
    }
}

// Revisions list
dl.revisions {
    dd :first-child  {
        margin-top: 0;
    }
    dd :last-child  {
        margin-bottom: 0;
    }
}