---
layout: default
templatebodyclass: "default line"
---

{% assign geojson = '' | split: ',' %}

{% for json_file in site.data.geojson %}
    {% if json_file[0] == page.geojson %}
    {% assign geojson = json_file[1] %}
    {% break %}

    {% endif %}
{% endfor %}

<script>
    window.line_geojson = window.line_geojson || [];
    window.line_geojson.push( {{ geojson | jsonify }} );
</script>

<div class="scroll-container">
    <div class="scroll-container__fixed">
        {% include map.html %}
    </div>
    <div class="scroll-container__scrollable">

        {{ page.content }}

        {% assign stops = geojson.features | where: "properties.type", "stop" %}
            
        <h3>Stops</h3>
        <dl>
            {% for stop in stops %}
                <dt id="stops-list-{{ stop.properties.name | slugify }}">{{stop.properties.name}}</dt>
                <dd>{{stop.properties.description}}</dd>
            {% endfor %}
        </dl>

        {% assign routes = geojson.features | where: "properties.type", "route" %}
            
        <h3 class="routes">Routes</h3>
        <dl class="routes">
            {% for route in routes %}
            <dt id="routes-list-{{ route.properties.name | slugify }}">{{route.properties.name}}</dt>
            <dd>{{route.properties.description}}</dd>
            {% endfor %}
        </dl>

        {% assign constructions = geojson.features | where: "properties.type", "construction" %}
            
        <h3>Major Construction</h3>
        <dl>
            {% for construction in constructions %}
                <dt id="constructions-list-{{ construction.properties.name | slugify }}">{{construction.properties.name}}</dt>
                <dd>{{construction.properties.description}}</dd>
            {% endfor %}
        </dl>

    </div>
</div>

{% assign update_size = page.revisions | size %}
{% if update_size >= 1 %}
    <aside class="author-note">
        <h3 id="Updates">Updates and Revisions</h3>
        <dl>
            {% for update in page.revisions %}
                <dt><time datetime="{{ update.date | date: '%f' }}">{{ update.date | date_to_long_string }}</time></dt>
                <dd>{{update.text}}</dd>
            {% endfor %}
        </dl>
    </aside>
{% endif %}
